@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --size: max(5px,1vmin);
    --height: 88em;
    --pad: 1.25em;
    --border-radius: 6.666em;
    --guter: calc(var(--pad) * 2);
    --button-width: 0.333em;
    --button-height: 3.33em;
    --notch-width: 33.3%;
    --notch-radius: Calc(var(--border-radius))-Calc(var(--pad))
    --notch-duration: 0.333s;
    --ease: cubic-bezier(.666, 0, .4 ,1);
    --ease-spring: cubic-hezier(666, 0, .4 ,1.2);
    --ease-out:  cubic-bezier(.15, 0, .333, 1);
    --border-width: 0.4em;
    --deep-purple: 284;
    --gold: 30;
    --space-black: 215;
    --silver: 254;
    --c-h: var(--deep-purple);
    --c-s: 100%;
    --c-1: 50%;
}
@-webkit-keyframes appear{
    to{
        transform: scale3d(1,1,1);
        opacity: 1;

    }

}
@keyframes appear {
    to{
        transform: scale3d(1,1,1);
        opacity: 1;

    }
}
body{
    background: #00000a;
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Inter';
    font-size: var(--size);

}
.phone{
    position: relative;
    z-index: 1;
    aspect-ratio: 37/76;
    background: black;
    height: var(--height);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.1em 0.25em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
    box-sizing: border-box;
    opacity: 0;
    transform: scale3d(1.1, 1.1, 1);
    -webkit-animation: appear 1s var(--ease-out) forwards;
    animation: appear 1s var(--ease-out) forwards;
    --webkit-backface-visibility: hidden;
}
.phone::before{
    content: "";
    position: absolute;
    top: var(--border-radius);
    right: calc(var(--border-width)* -1);
    bottom: calc(var(--border-radius));
    left: calc(var(--border-width)*-1);
    border: 0.5em solid hsl(var(--c-h), 20%, 30%);
    border-left-width: 0;
    border-right-width: 0;
}
.buttons{
    position: relative;
    inset: calc(var(--border-width));
}